.content
{
    margin-top: 20px !important;
    max-width: 600px;
    margin: auto;
}

html,body
{
    background-color: #e4eaea !important;
    font-size: 18px;
}

.user
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user p
{
    margin-top: 5px;
}

.text_message
{
    color: #0c0c0c;
}

.chat-box
{
    background-color: #c5bdbd !important;
}

.about
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.username
{
    color: black !important;
    
}